.event{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;

    &__image{
        width: 20%;
        height: 200px;
        background-color:aquamarine;
    }

    &__content{
        padding-left: 10px;
        width: 80%;
    }
}