<h2>Welcome, [Name Here]</h2>
<h3>Events</h3>
<button (click)="showEventForm()">
    <span *ngIf="!eventToggle">Create New Event</span>
    <span *ngIf="eventToggle">Hide Event Form</span>
</button>
<app-events-form *ngIf="eventToggle" (formSubmitted)="hideOnSubmit($event)"></app-events-form>
<app-event-card *ngFor="let event of eventData;"
    [title]="event.title" 
    [date]="event.date"
    [time]="event.time"
    [details]="'information about the event'"
    [region]="'somewhere in dc'"
></app-event-card>
