<h2>Welcome, [Name Here]</h2>
<h3>Events</h3>
<button (click)="showEventForm()">
    <span *ngIf="!eventToggle">Create New Event</span>
    <span *ngIf="eventToggle">Hide Event Form</span>
</button>

<app-events-form 
    *ngIf="eventToggle" 
    (formSubmitted)="hideOnSubmit($event)" 
    (submittedData)="viewNewData($event)">
</app-events-form>

<section *ngIf="formEventData.length > 0">
    <app-event-card *ngFor="let newEvent of formEventData;" 
        [title]="newEvent.title!"
        [date]="newEvent.date!"
        [time]="newEvent.time!"
        [details]="newEvent.eventDescription!"
        [region]="newEvent.region!"></app-event-card>
</section>

<app-event-card *ngFor="let event of eventData;"
    [title]="event.title" 
    [date]="event.date"
    [time]="event.time"
    [details]="'information about the event'"
    [region]="'somewhere in dc'"
    [attendees]="event.attendees"
    [attendeeMax]="event.attendeeMax"
></app-event-card>
