<form [formGroup]="eventForm">
    <div>
        <label for="title">Title:</label>
        <input id="title" type="text" formControlName="title">

        <label for="date" type="date">Date:</label>
        <input id="date" type="text" formControlName="date">

        <label for="time" type="time">Time:</label>
        <input id="time" type="text" formControlName="time">

        <label for="region">Region:</label>
        <input id="region" type="text" formControlName="region">
    </div>

    <div>
        <label for="location">Location:</label>
        <input id="location" type="text" formControlName="location">

        <label for="attendee-max">Attendee Max:</label>
        <input id="attendee-max" type="text" formControlName="attendeeMax">

        <label for="event-description">Event Description:</label>
        <textarea 
            name="event-description" 
            id="event-description" 
            cols="30" 
            rows="10"
            formControlName="eventDescription"
        ></textarea>
    </div>
    <button (click)="onSubmit()" [disabled]="eventForm.invalid">Submit</button>
</form>
